<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body ng-app="myApp" ng-controller="ContactManagementController">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <section class="background" style="background-image: url('BGIMG1.png');">
        <h1 class="header">Contact Management System</h1>

        <button id="buttonplace" class="w3-btn w3-red w3-ripple" ng-click="createcanceluser(true)">&#9998;Create New Contact Detail</button>
        <br></br>

        <div class="w3-container">

            <table id="customers1">
                <tr>
                    <th width="20%">Name</th>
                    <th width="10%">Mobile No</th>
                    <th width="50%">Address</th>
                    <th width="10%">View</th>
                    <th width="10%">Delete</th>
                </tr>
            </table>

            <div class="fixTableHead">
                <table id="customers">
                    <tr ng-repeat="val in rawdata | orderBy : 'index_value'" ng-show=val.active>
                        <td width="20%">{{ val.first_name }}{{" " + val.last_name }}</td>
                        <td width="10%">{{ val.phone }}</td>
                        <td width="50%">{{ val.contact_address.address }}{{ ", " + val.contact_address.city}}{{ ", " + val.contact_address.state}}{{ ", " + val.contact_address.country}}
                        </td>
                        <td width="10%">
                            <button id="tablebutt" class="w3-btn w3-ripple" ng-click="doview(val.index_value)">&#10143; View</button>
                        </td>
                        <td width="10%">
                            <button id="tablebutt" class="w3-btn w3-ripple" ng-click="deleteUser(val.index_value)">&#9249; Delete</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <br></br>

        <div id="backdrop" ng-if="!!showpopup">

            <div id="newPersonModal">
                <h3 class="header"><b>{{popupheading}}</b></h3>

                <div id="container">
                    <div id="first">

                        <h3 class="header1"><b>Basic Information</b></h3>

                        <div class="spacebox" id="leftboxdes">
                            <label for="Title"><b>Title: </b><span class="required">*</span></label>
                            <select ng-disabled="!!dispview" ng-model="title" id="title" required>
                              <option value="Mr">Mr</option>
                              <option value="Mrs">Mrs</option>
                              <option value="Miss ">Miss </option>
                              <option value="Ms">Ms</option>
                            </select>
                        </div>

                        <div class="spacebox" id="leftboxdes">
                            <label for="First Name"><b>First Name: </b><span class="required">*</span></label>
                            <input type="text" ng-readonly="!!dispview" ng-model="fname" id="fname" placeholder="First Name" required>
                        </div>

                        <div class="spacebox" id="leftboxdes">
                            <label for="Last Name"><b>Last Name: </b><span class="required">*</span></label>
                            <input type="text" ng-readonly="!!dispview" ng-model="lname" id="lname" placeholder="Last Name" required>
                        </div>

                        <div class="spacebox" id="leftboxdes">
                            <label for="Phone"><b>Phone: </b><span class="required">*</span></label>
                            <input size="15" type="text" ng-readonly="!!dispview" ng-model="phone" id="phone" placeholder="Phone Number" required>
                            <label for="Email ID"><b>Email ID: </b><span class="required">*</span></label>
                            <input size="15" type="email" ng-readonly="!!dispview" ng-model="email" id="email" placeholder="Email ID" required>
                        </div>

                        <div class="spacebox" id="leftboxdes">
                            <label for="Company Name"><b>Company Name: </b><span class="required">*</span></label>
                            <input type="text" ng-readonly="!!dispview" ng-model="compname" id="compname" placeholder="Company Name" required>
                        </div>

                        <div class="spacebox" id="leftboxdes">
                            <label for="Contact Name"><b>Contact Name: </b></label>
                            <input type="text" ng-readonly="!!dispview" ng-model="contctname" id="contctname" placeholder="Contact Name" required>
                        </div>

                        <div class="spacebox" id="leftboxdes">
                            <label for="FaceBook"><b>FaceBook: </b></label>
                            <input size="15" type="text" ng-readonly="!!dispview" ng-model="facebook" id="facebook" placeholder="FaceBook">
                            <label for="Twitter"><b>Twitter: </b></label>
                            <input size="15" type="text" ng-readonly="!!dispview" ng-model="twitter" id="twitter" placeholder="Twitter">
                        </div>

                        <span id="errormessgeres"><b>{{errormessage}}</b></span>

                    </div>
                    <div id="second">

                        <h3 class="header2"><b>Additional Information</b></h3>

                        <table>
                            <tr>
                                <th id="thtdview"><label for="Attention"><b>Attention: </b><span class="required1">*</span></label></th>
                                <td id="thtdview"> <input type="text" ng-readonly="!!dispview" ng-model="attenname" id="attenname" placeholder="Attention" required></label>
                                </td>
                            </tr>
                            <tr>
                                <th id="thtdview"><label for="Address"><b>Address: </b><span class="required1">*</span></label></th>
                                <td id="thtdview"><input type="text" ng-readonly="!!dispview" ng-model="address" id="address" placeholder="Address" required></td>
                            </tr>
                            <tr>
                                <th id="thtdview"> <label for="Street2"><b>Street2: </b><span class="required1">*</span></label></th>
                                <td id="thtdview"><input type="text" ng-readonly="!!dispview" ng-model="street" id="street" placeholder="Street2" required></td>
                            </tr>
                            <tr>
                                <th id="thtdview"> <label for="City"><b>City: </b><span class="required1">*</span></label></th>
                                <td id="thtdview"> <input size="12" type="text" ng-readonly="!!dispview" ng-model="city" id="city" placeholder="City" required></td>
                                <th id="thtdview"> <label for="State"><b>State: </b><span class="required1">*</span></label></th>
                                <td id="thtdview"> <input size="12" type="text" ng-readonly="!!dispview" ng-model="state" id="state" placeholder="State" required></td>
                            </tr>
                            <tr>
                                <th id="thtdview"> <label for="Country"><b>Country: </b><span class="required1">*</span></label></th>
                                <td id="thtdview"><input type="text" ng-readonly="!!dispview" ng-model="country" id="country" placeholder="Country" required></td>
                            </tr>
                            <tr>
                                <th id="thtdview"> <label for="ZipCode"><b>ZipCode: </b><span class="required1">*</span></label></th>
                                <td id="thtdview"> <input type="text" ng-readonly="!!dispview" ng-model="zipcode" id="zipcode" placeholder="ZipCode" required></td>
                            </tr>
                            <tr>
                                <th id="thtdview"> <label for="Fax"><b>Fax: </b></label></th>
                                <td id="thtdview"> <input size="12" type="text" ng-readonly="!!dispview" ng-model="fax" id="fax" placeholder="Fax"></td>
                                <th id="thtdview"> <label for="Phone"><b>Phone: </b></label></th>
                                <td id="thtdview"> <input size="12" type="text" ng-readonly="!!dispview" ng-model="phone1" id="phone1" placeholder="Phone"></td>
                            </tr>
                        </table>

                        <br></br>

                        <button class="w3-btn w3-red w3-ripple" ng-hide="!!dispview" id="closebutton1" ng-click="createcanceluser(false)">Cancel</button>
                        <button class="w3-btn w3-red w3-ripple" ng-hide="!!dispview" type="submit" ng-disabled="error || incomplete" id="closebutton1" ng-click="dosavethedata()">Save</button>
                        <button class="w3-btn w3-red w3-ripple" ng-hide="!dispview" ng-click="donewithok(false)" id="closebutton">Close</button>

                    </div>
                </div>

            </div>

        </div>

    </section>

    <script>
        angular.module('myApp', []).controller('ContactManagementController', function($scope) {

            $scope.dumarr = [];

            $scope.rawdata = [{
                "index_value": 1,
                "active": true,
                "company_name": "Bowan Tech",
                "contact_name": "Bowan Tech",
                "first_name": "Wills",
                "last_name": "Smith",
                "title": "Mr",
                "email": "test@zylker.org",
                "phone": "1234567890",
                "facebook": "zoho",
                "twitter": "zoho",
                "contact_address": {
                    "attention": "Mr.Wills",
                    "address": "23 Hopyard Rd, Suite 310",
                    "street2": "Suite 310",
                    "state_code": "CA",
                    "city": "Pleasanton",
                    "state": "CA",
                    "zip": 94588,
                    "country": "U.S.A",
                    "fax": "1234567890",
                    "phone": "1234567890"
                }
            }, {
                "index_value": 2,
                "active": true,
                "contact_name": "Hello Tech",
                "first_name": "John",
                "last_name": "Britto",
                "title": "Mr",
                "email": "test@zylker.org",
                "phone": "9087654321",
                "facebook": "zoho",
                "twitter": "zoho",
                "contact_address": {
                    "attention": "Mr.John",
                    "address": "4900 Hopyard Rd, Suite 310",
                    "street2": "Suite 310",
                    "state_code": "CA",
                    "city": "Pleasanton",
                    "state": "CA",
                    "zip": 94588,
                    "country": "U.S.A",
                    "fax": "9087654321",
                    "phone": "9087654321"
                }
            }, {
                "index_value": 3,
                "active": true,
                "company_name": "Marvel Tech",
                "contact_name": "Marvel Tech",
                "first_name": "Tony",
                "last_name": "Stark",
                "title": "Mr",
                "email": "test@zylker.com",
                "phone": "9834567890",
                "facebook": "zoho",
                "twitter": "zoho",
                "contact_address": {
                    "attention": "Mr.Tony",
                    "address": "49 peters Rd, Suite 310",
                    "street2": "Suites 310",
                    "state_code": "CA",
                    "city": "Pleasanton",
                    "state": "CA",
                    "zip": 94588,
                    "country": "U.S.A",
                    "fax": "9834567890",
                    "phone": "9834567890"
                }

            }, {
                "index_value": 4,
                "active": true,
                "company_name": "Marvel Tech",
                "contact_name": "Marvel Tech",
                "first_name": "Steve",
                "last_name": "Rogers",
                "title": "Mr",
                "email": "Rogers@zylker.com",
                "phone": "9753124680",
                "facebook": "zoho",
                "twitter": "zoho",
                "contact_address": {
                    "attention": "Mr.Rogers",
                    "address": "49 peters Rd, Suite 310",
                    "street2": "Suites 310",
                    "state_code": "CA",
                    "city": "Pleasanton",
                    "state": "CA",
                    "zip": 94588,
                    "country": "U.S.A",
                    "fax": "97531246809753124680",
                    "phone": "9753124680"
                }
            }]

            $scope.deleteUser = (function(id) {
                let resview = $scope.rawdata.length - 1;
                let result = $scope.rawdata.find(({
                    index_value
                }) => index_value === id);

                if (resview == $scope.dumarr.length) {
                    window.confirm("Cannot Delete Last Record");
                } else {
                    $scope.dumarr.push(result);
                    result.active = false;
                }
            });

            $scope.createcanceluser = (function(value) {
                $scope.errormessage = "";
                if (!value) {
                    let answer = window.confirm("Do You Want Cancel");
                    if (answer) {
                        $scope.showpopup = value;
                    }
                } else {
                    $scope.popupheading = "Enter The Details";
                    $scope.title = "";
                    $scope.fname = "";
                    $scope.lname = "";
                    $scope.phone = "";
                    $scope.email = "";
                    $scope.compname = "";
                    $scope.contctname = "";
                    $scope.facebook = "";
                    $scope.twitter = "";
                    $scope.attenname = "";
                    $scope.address = "";
                    $scope.street = "";
                    $scope.city = "";
                    $scope.state = "";
                    $scope.country = "";
                    $scope.zipcode = "";
                    $scope.fax = "";
                    $scope.phone1 = "";

                    $scope.dispview = false;
                    $scope.showpopup = value;
                }
            });

            $scope.donewithok = (function(value) {
                $scope.showpopup = value;
            });

            $scope.dosavethedata = (function() {
                $scope.errormessage = "";
                let title = document.getElementById('title').value.trim();
                let fname = document.getElementById('fname').value.trim();
                let lname = document.getElementById('lname').value.trim();
                let phone = document.getElementById('phone').value.trim();
                let email = document.getElementById('email').value.trim();
                let compname = document.getElementById('compname').value.trim();
                let contctname = document.getElementById('contctname').value.trim();
                let facebook = document.getElementById('facebook').value.trim();
                let twitter = document.getElementById('twitter').value.trim();
                let attenname = document.getElementById('attenname').value.trim();
                let address = document.getElementById('address').value.trim();
                let street = document.getElementById('street').value.trim();
                let city = document.getElementById('city').value.trim();
                let state = document.getElementById('state').value.trim();
                let zipcode = document.getElementById('zipcode').value.trim();
                let country = document.getElementById('country').value.trim();
                let fax = document.getElementById('fax').value.trim();
                let phone1 = document.getElementById('phone1').value.trim();

                if (title !== "" && fname !== "" && lname !== "" && phone !== "" && email !== "" && compname !== "" && attenname !== "" && address !== "" && street !== "" && city !== "" && state !== "" && zipcode !== "" && country !== "") {
                    let indexval = $scope.rawdata.length;

                    if (email.slice(-4) != ".com") {
                        $scope.errormessage = "* Invalid Email ID";
                        window.confirm("Invalid Email ID");
                        return;
                    }

                    if (phone.length != 10) {
                        $scope.errormessage = "* Invalid Mobile Number";
                        window.confirm("Invalid Mobile Number");
                        return;
                    }

                    let newobjdata = {
                        "index_value": indexval + 1,
                        "active": true,
                        "first_name": fname,
                        "last_name": lname,
                        "title": title,
                        "phone": phone,
                        "email": email,
                        "company_name": compname,
                        "contact_name": contctname,
                        "facebook": facebook,
                        "twitter": twitter,

                        "contact_address": {
                            "attention": attenname,
                            "address": address,
                            "street2": street,
                            "city": city,
                            "state": state,
                            "zip": zipcode,
                            "country": country,
                            "fax": fax,
                            "phone": phone1
                        }
                    }

                    $scope.rawdata.push(newobjdata);
                    $scope.showpopup = false;
                } else {
                    $scope.errormessage = "* Some Fields are Empty";
                    window.confirm("Some Fields are Empty");
                    return;
                }
            });

            $scope.doview = (function(index) {
                $scope.showpopup = true;
                $scope.dispview = true;
                $scope.errormessage = "";
                $scope.popupheading = "Viewing The Details";

                $scope.resdata = $scope.rawdata.find(({
                    index_value
                }) => index_value === index);

                $scope.fname = $scope.resdata.first_name;
                $scope.lname = $scope.resdata.last_name;
                $scope.title = $scope.resdata.title;
                $scope.phone = $scope.resdata.phone;
                $scope.email = $scope.resdata.email;
                $scope.compname = $scope.resdata.company_name;
                $scope.contctname = $scope.resdata.contact_name;
                $scope.facebook = $scope.resdata.facebook;
                $scope.twitter = $scope.resdata.twitter;
                $scope.attenname = $scope.resdata.contact_address.attention;
                $scope.address = $scope.resdata.contact_address.address;
                $scope.street = $scope.resdata.contact_address.street2;
                $scope.city = $scope.resdata.contact_address.city;
                $scope.state = $scope.resdata.contact_address.state;
                $scope.zipcode = $scope.resdata.contact_address.zip;
                $scope.country = $scope.resdata.contact_address.country;
                $scope.fax = $scope.resdata.contact_address.fax;
                $scope.phone1 = $scope.resdata.contact_address.phone;
            });
        });
    </script>

</body>

</html>